@font-face {
    font-family:"geins";
    src: url("/geins/Geist-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"Roboto_Serif";
    src: 
        local("Roboto_Serif"),
        url("Roboto_Serif/RobotoSerif-Italic-VariableFont.ttf") format("truetype");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:geins;
}
body{
    width:100%;
    height: 100vh;
}
main{
    width:100%;
    height:100vh;
}
.encabezado{
    width:100%;
    height:80px;
    position:fixed;
    background: rgba(15, 15, 15, 0.32);
    backdrop-filter: blur(3.5px);
    z-index:10;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 30px;
}
.encabezado img{
    width:60px;
    height:60px
}

.icon:hover{
    cursor: pointer;
}
.icon{
    color:white;
    width:35px;
    height:35px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner{
    position:relative;
    width:100%;
    height:calc(100vh - 50px);
    background:#f5f5f5;
    background-size:cover;
    background-position:center;
    transition:all .1s ease-in-out;
    background-image:url('/img/01.jpg');
    animation:banner 24s infinite linear;
}
.banner-content{
    width:100%;
    height:100%;
    color:#fff;
    background-color: rgba(0,22,40,.6);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}
.banner-content h1{
    padding-bottom:30px;
    font-size:40px;
    text-align:center;

}
.banner-content a{
    text-decoration:none;
    color:#fff;
    padding:9px 20px;
    border:1px solid #fff;
    text-transform:uppercase;
    transition: all .3s ease-in-out;
}
.banner-content h1,
.banner-content a{
    animation:1s titleAnimation linear;
}
.banner-content a:hover{
    background-color:#fff;
    color:#333;
}
.modal{
    z-index:10;
    width:100%;
    height:100%;
    position:fixed;
    background: rgba(15, 15, 15, 0.32);
    backdrop-filter: blur(3.5px);
}
.modal-menu{
    width:35%;
    height:100%;
    background: #FEFAF6;
    position:absolute;
    top:0;
    right:0;
    display:flex;
    flex-direction:column;
    animation:1s slideMenu 1;
    padding:20px;
}
.closeMenu:hover{
    cursor:pointer;
}
.subMenu{
    padding-top:20px;
    font-size:11px;
    font-weight:100;
}
.subMenu .subMenu-icon{
    padding:10px 0px;
    border-bottom:1px solid rgb(249, 144, 69);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    cursor:pointer;
    
}
.clickArrow{
    transform:rotate(180deg);
    transition:all 0.2s linear;
}
.clickArrowOut{
    transform:rotate(0deg);
    transition:all 0.2s linear;
}
.arrow:hover{
    cursor:pointer;
}

.liga{
    color:black;
    width:100%;
    padding:8px;
    
}
.liga .section{
    width:100%;
    background:transparent;
    border:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}
.liga .section span{
    font-size:1.2em;
}
.submenu-iconChild{
    width:100%;
    height:auto;
    background:rgb(251, 203, 170);
    overflow:hidden;
}
.submenu-iconChild2{
    width:100%;
    height:auto;
    background:rgb(251, 203, 170);
    overflow:hidden;
}

.submenu-iconChild[data-state="closed"]{
    animation:0.3s subMenuClose linear;
}
.submenu-iconChild[data-state="open"]{
    animation:0.3s subMenuOpen linear;
}
.submenu-iconChild2[data-state="closed"]{
    animation:0.3s subMenuClose2 linear;
}
.submenu-iconChild2[data-state="open"]{
    animation:0.3s subMenuOpen2 linear;
}


.childMenu{
    width:100%;
    height:35px;
    padding:20px;
    padding-left:10px;
    display:flex;
    align-items:center;
}
.childMenu a{
    margin-left:15px;
    text-decoration:none;
    color:black;
}
.childMenu a:hover{
    border-bottom:1px solid black; 
}
.liga .button{
    width:120px;
    height:35px;
    border:1px solid black;
    border-radius:20px;
    font-size:0.8em;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(249, 168, 102);
    cursor:pointer;
}
.liga .button:active{
    border:2px solid black;
    background-color: rgb(255, 117, 5);
}
.liga-button{
    padding-top:10px;
}

@keyframes subMenuOpen{
    0%{
        height:0px;
    }
    100%{
       
        height:120px;
    }
}
@keyframes subMenuClose{
    0%{
        height:120px;
        
    }
    100%{
        height:0px;
        
    }
}
@keyframes subMenuOpen2{
    0%{
        height:0px;
    }
    100%{
       
        height:200px;
       
    }
}
@keyframes subMenuClose2{
    0%{
        height:200px;
        
    }
    100%{
        height:0px;
        
    }
}

@keyframes titleAnimation{
    0%{
        transform:translateY(-50px);
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
        
    }
}


@keyframes slideMenu{
    0%{
        transform:translateX(100%);
    }
}
@keyframes banner{
    0%{
        background-image:url('/img/01.jpg');
    }
    25%{
        background-image:url('/img/01.jpg');
    }
    26%{
        background-image:url('/img/02.jpg');
    }
    50%{
        background-image:url('/img/02.jpg');
    }
    51%{
        background-image:url('/img/03.jpg');
    }
    75%{
        background-image:url('/img/03.jpg');
    }
    76%{
        background-image:url('/img/04.jpg');
    }
    100%{
        background-image:url('/img/04.jpg');
    }
}
/* section luamva-studio */
.lumava-studio{
    width:100%;
    height:auto;
    display:flex;  
}
.first-studio{
    display:flex;
    flex-direction:column;
    width:50%;
    height:100%;
    padding:25px;
   
}
.title-studio{
    width:100%;
    height:100px;
    display:flex;
    flex-direction:row;
    align-items:center;
    color:rgb(86, 110, 93);
}
.subtitle-studio{
    width:100%;
    height:100px;
    display:flex;
    flex-direction:row;
    align-items:center;
    
}
.subtitle-studio span{
    font-size:2.5em;
    font-weight:bold;
    font-family:Roboto_Serif; 
}
.text-studio{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:30px 0px;
}
.img-studio{
    width:100%;
    height:100%;
    
}
.imagen-write{
    width:100%;
    height:100%;
}
.second-studio{
    display:flex;
    flex-direction:column;
    width:50%;
    height:100%;
    padding:2%;
    padding-top:50px;
}
.imagen-studio{
    width:100%;
    height:50%;
}
.first-part-studio, .second-part-studio{
    weight:100%;
    height:auto;
    display:flex;
    align-items:center;
    padding:10px 0px;
}
.button-studio{
    height:100px;
    weight:100%;
    display:flex;
    align-items:center;
}

.button-studio button{
    width:130px;
    height:50px;
    background:rgb(86, 110, 93);
    border:0;
    margin:10px;
}
.button-studio button a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-family:Roboto_Serif;
}
.shop-studio{
    width:100%;
    height:auto;
    display:flex;
    background:#FEFAF6;
}
.shop-first-studio{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:120px 50px;
}
.shop-first-studio h3{
    width:100%;
    padding-bottom:30px;
    text-align:center;
}
.shop-first-studio span{
    width:90%;
    height:auto;
    text-align:center;
    font-size:2em;
    font-family:Roboto_Serif;
    font-weight:100;
}
.shop-first-studio div{
    width:100%;
    height:100px;
    text-align:center;
    padding-top:60px;
}
.shop-first-studio div img{
    width:auto;
    height:80px;
}
.shop-second-studio{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.shop-second-studio img{
    width:50%;
    height:500px;
    
}
.shop-imagen-studio{
    display:flex;
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
}
.shop-imagen-studio img{
    padding:5px;
    width:200px;
    height:150px;
    
}

@media (max-width:1000px){
    .modal-menu{
        width:50%;
    }
    .subtitle-studio span{
        font-size:1.8em;
    }
    .shop-first-studio{
        padding:50px;
    }
    .shop-first-studio span{
        font-size:1.5em;
    }
    .shop-second-studio img{
        width:85%;
    }
    .shop-imagen-studio img{
        width:45%;
    }
   
}
@media (max-width:600px){
    .modal-menu{
        width:100%;
    }
    .subtitle-studio span{
        font-size:1em;
    }
    .title-studio{
        height:50px;
    }
    .text-studio{
        padding:10px 0px;
        font-size:0.9em;
    }
    .button-studio button a{
        font-size:0.7em;
    }
    .shop-studio{
        padding:15px 0px;
    }
    .shop-first-studio{
        padding:0px 5px;
    }
    .shop-first-studio span{
        font-size:1em;
    }
    .shop-second-studio img{
        width:100%;
        padding:5px;
        height:350px;

    }
    .shop-imagen-studio{
        flex-direction:column;
        align-items:center;
    }
    .shop-first-studio div img{
        padding:0px 5px;
        
    }
    .shop-first-studio div img:nth-child(1){
        width:90%;
    }
    .shop-imagen-studio img{
      
        height:130px;
        
    }
}
